{{ 'component-return-footer.css' | asset_url | stylesheet_tag }}
{{ 'return-footer-section.css' | asset_url | stylesheet_tag }}
<div class="color-scheme-{{ section.settings.color_scheme }}">
  <div class="return-footer center{% if section.settings.full_width == false %} return-footer--narrow page-width{% endif%}">
    <a href="{{ section.settings.back_url }}">
    <div class="return-footer__wrapper color-{{ section.settings.color_scheme }}">
        <div class="return-footer__arrow">
          <div class="return-footer__arrow-bg">&nbsp;</div>
          {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'heading' -%}
              <h2 class="h1 color-scheme-{{ section.settings.color_scheme }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
          {%- endcase -%}
        {%- endfor -%}
        </div>
      <div class="return-footer__image">
        <div class="image-with-text__media media--hover-effect image-with-text__media--{{ section.settings.height }} {% if section.settings.image_2 != blank %}first__image__child{% endif %} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
          {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
        >
          {%- if section.settings.image != blank -%}
            <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
              src="{{ section.settings.image | img_url: '533x' }}"
              sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        {%- if section.settings.image_2 != blank -%}
        <div class="color-scheme-border-{{ section.settings.color_scheme }} overlap_image image-with-text__media media--hover-effect image-with-text__media--{{ section.settings.height }} {% if section.settings.image_2 != blank %}second__image__child{% endif %} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
          {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
        >
            <img srcset="{%- if section.settings.image_2.width >= 165 -%}{{ section.settings.image_2 | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image_2.width >= 360 -%}{{ section.settings.image_2 | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image_2.width >= 535 -%}{{ section.settings.image_2 | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image_2.width >= 720 -%}{{ section.settings.image_2 | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image_2.width >= 940 -%}{{ section.settings.image_2 | img_url: '940x' }} 940w,{%- endif -%}
              {%- if section.settings.image_2.width >= 1070 -%}{{ section.settings.image_2 | img_url: '1070x' }} 1070w{%- endif -%}"
              src="{{ section.settings.image_2 | img_url: '533x' }}"
              sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image_2.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.image_2.width }}"
              height="{{ section.settings.image_2.height }}"
            >
        </div>
        {%- else -%}
            {{ }}
          {%- endif -%}
      </div>
    </div>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Return Footer Button",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "url",
      "id": "back_url",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.newsletter.settings.image.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "taupe",
          "label": "t:sections.newsletter.settings.color_scheme.options__1.label"
        },
        {
          "value": "bronze",
          "label": "t:sections.newsletter.settings.color_scheme.options__2.label"
        },
        {
          "value": "white",
          "label": "t:sections.newsletter.settings.color_scheme.options__3.label"
        },
        {
          "value": "silver",
          "label": "t:sections.newsletter.settings.color_scheme.options__4.label"
        }
      ],
      "default": "taupe",
      "label": "t:sections.newsletter.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Return Footer Button",
      "blocks": []
    }
  ]
}
{% endschema %}
